h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #524f60;
}

h1 {
  font-size: 96px;
}

.introduction {
  background-color: #e8eeff;
  text-align: center;
}

.introduction p {
  font-family: "EB Garamond", serif;
  font-size: 36px;
  font-weight: bold;
  color: #524f60;
  margin: 0;
}

.introduction h2 {
  font-family: "EB Garamond", serif;
  font-weight: normal;
  font-size: 24px;
  color: #65617a;
  line-height: 2;
}
