:root {
  --primary-color: #e8eeff;
  --secondary-color: #524f60;
  --heading-font: "Playfair Display", serif;
  --deafult-font: "EB Garamond", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--secondary-color);
}

h1 {
  font-size: 96px;
}

body {
  font-family: var(--deafult-font);
}
.introduction {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.introduction p {
  font-family: var(--deafult-font);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0;
}

.introduction h2 {
  font-family: var(--deafult-font);
  font-weight: normal;
  font-size: 24px;
  color: #65617a;
  line-height: 2;
}

.btn-primary {
  background: #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
